@model Web.Areas.Forum.Models.Query

@{
    ViewData["Title"] = "Create";
}

<h1>Create Question</h1>

<h4>Query</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateQ">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="UserName" type="hidden" value="Anonymous" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Topic" class="control-label"></label>
                <select asp-for="Topic" class="form-control">
                    <option value="General">General</option>
                    <option value="Admission">Admission</option>
                    <option value="Facilities">Facilities</option>
                </select>
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <textarea asp-for="Question" class="form-control">Enter your Question</textarea>
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit Question" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
