@{
    ViewData["Title"] = "Paid";
}

<style>
    .mystyle {
        font-size: 50px;
    }
</style>

<div class="py-5 mt-5 bg-light">
    <div class="text-center font-weight-bolder mystyle text-success">
        PAID
    </div>
    <p style="padding-left:7em; font-size:1.8em; width:900px; text-align:center;" class="text-monospace"> Fee has been Paid Successfully</p>
</div>
