@{
    ViewData["Title"] = "Home Page";
}

<style>
    .mystyle {
        font-size:150px;
    }

</style>

<div class="py-5 mt-5 bg-light">
    <div class="text-center font-weight-bolder mystyle text-dark" >
        InterScOM
    </div>
    <p style="padding-left:7em; font-size:1.8em; width:900px; text-align:center;" class="text-monospace"> Inter School Management Software</p>
</div>