@{
    ViewData["Title"] = "Home Page";
}

<style>
    .mystyle {
        font-size:150px;
    }

</style>

<div class="py-5 mt-5 bg-light">
    <div class="text-center font-weight-bolder mystyle text-dark" >
        InterScOM
    </div>
    <p class="text-center text-dark"> Inter School Management Software</p>
</div>