@model IEnumerable<Web.Areas.Forum.Models.Query>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12 text-center text-uppercase font-weight-bolder" style=" color: #817F82">
        <h1>
            Forum
        </h1>
    </div>
</div>

<br />

<div class="row col-4 text-center">
    <a class="btn btn-info text-white" asp-action="Create"> New Question </a>
</div>

<ul style="list-style-type:none;">
    @foreach (var item in Model)
    {

        <li style="padding: 10px">
            <div class="card">
                <div class="card-header font-weight-bold">
                    Topic : @Html.DisplayFor(modelItem => item.Topic)
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8 h5">
                            <p class="card-text text-dark">@Html.DisplayFor(modelItem => item.Question)</p>
                        </div>
                        <div class="col-4 text-center">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success text-white mr-2"> Answers </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>

    }
</ul>
